.md-layout {
  margin-left: 0;
  margin-right: 0;
  padding-top: 5em;
  padding-bottom: 5em;
}

.md-layout-item{
  padding-right: 15px;
  padding-left: 15px;
}

#logo-main {
  text-align: center;
}

#text-main {
  margin-right: 2rem;
  color: white;
  font-weight: 500;
  vertical-align: middle;
}

.main-text {
  text-align: justify;
  padding-top: 1em;
  font-size: 15px;
}
